.curriculum
  %ul.nav.nav-pills
    %li
      %a{role: "presentation", href: "/home"}
        %span
          Home
    %li
      %a{role: "presentation", href: "/curriculums/new"}
        %span
          New Curriculum
    %li
      %a{role: "presentation", href: "/users"}
        %span
          User
.curriculum
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Path
        %th Content
        %th Operate
    %tbody
      -@curriculums.each do |c|
        = render :partial => "curriculums_home",locals: { curriculum: c }